
button.navbar-toggler:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
    }
  
  button.navbar-toggler:active,
  button.navbar-toggler:focus {
    outline: none !important;
  }
  .navbar-toggler{
    outline: none !important;
    border: none !important;
  }
  
.navbar-toggler:focus{
  box-shadow: none;
}
  