.contenedor-imagen {
    position: relative;
    display: inline-block;
    overflow: hidden; 
  }
  
  .botonBotanica {
    position: absolute;
    bottom: 170px; 
    left: 32%; /* Ajusta según la posición horizontal deseada */
    transform: translate(-50%, -50%);
    padding: 3vw 4vw;
    background-color: rgba(52, 152, 219, 0.5); /* Color azul con un 50% de transparencia */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .botonMaceracion {
    position: absolute;
    bottom: 170px;
    left: 44%; /* Ajusta según la posición horizontal deseada */
    transform: translate(-50%, -50%);
    padding: 3vw 3vw;
    background-color: rgba(52, 152, 219, 0.5); /* Color azul con un 50% de transparencia */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botonReposo {
    position: absolute;
    bottom: 170px;
    left: 56%; /* Ajusta según la posición horizontal deseada */
    transform: translate(-50%, -50%);
    padding: 3vw 3vw;
    background-color: rgba(52, 152, 219, 0.5); /* Color azul con un 50% de transparencia */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botonCata {
    position: absolute;
    bottom: 170px;
    left: 68%; /* Ajusta según la posición horizontal deseada */
    transform: translate(-50%, -50%);
    padding: 3vw 3vw;
    background-color: rgba(52, 152, 219, 0.5); /* Color azul con un 50% de transparencia */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
nav {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 1; /* Asegura que el menú esté sobre la imagen */
  }

  
  .navbar {
    display: none;
  }
  
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 425px) {
    .botonBotanica{
        bottom: 140px;
        left: 35%;
    }
    .botonMaceracion{
        bottom: 140px;
        left: 65%;
    }
    .botonReposo{
        bottom: 90px;
        left: 35%;
    }
    .botonCata{
        bottom: 90px;
        left: 65%;
    }
    .navbar {
      display: block;
    }
    .nav {
      display: none; /* O cualquier estilo específico para la navegación en pantallas pequeñas */
    }

  }