.contenedor-imagen {
    position: relative;
    display: inline-block;
    overflow: hidden; 
    width: 100%;
  }

  button{
    background-color: rgba(52, 152, 219, 0); /* Color azul con un 50% de transparencia */
    color:  rgba(52, 152, 219, 0);
    transform: translate(-50%, -50%);
    padding: 2vw 2vw;
    width: 10vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .botonBotanica {
    position: absolute;
    bottom: 13vw;
    left: 32%; /* Ajusta según la posición horizontal deseada */
  }

  .botonMaceracion {
    position: absolute;
    bottom: 13vw;
    left: 44vw; /* Ajusta según la posición horizontal deseada */
  }
  .botonReposo {
    position: absolute;
    bottom: 13vw;
    left: 56%; /* Ajusta según la posición horizontal deseada */
  }
  .botonCata {
    position: absolute;
    bottom: 13vw;
    left: 68%; /* Ajusta según la posición horizontal deseada */
  }
  
nav {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    z-index: 1; /* Asegura que el menú esté sobre la imagen */
  }

  
  .navbar {
    display: none;
  }
  
  
  /* Media query para pantallas más pequeñas */
  @media (max-width: 425px) {

    .botonera{
      position: relative;
      bottom: 6vw;
    }

    .botonBotanica{
        bottom:37vw;
        padding: 1vw 2vw;
        width: 30vw;
    }
    .botonMaceracion{
      bottom:37vw;
      padding: 1vw 2vw;
      width: 30vw;
      margin-left: 23vw;
    }
    .botonReposo{
      bottom:26vw;
      padding: 1vw 2vw;
      width: 30vw;
      left:32vw;
    }
    .botonCata{
      bottom:26vw;
      padding: 1vw 2vw;
      width: 30vw;
      left:67vw;
    }
    .navbar {
      display: block;
    }
    .nav {
      display: none; /* O cualquier estilo específico para la navegación en pantallas pequeñas */
    }

  }